.job {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 30px;
	&:first-child {
		margin-top: 24px;
	}
	&:last-child {
		margin-bottom: 49px;
	}

	margin-bottom: 8px;

	&__row {
		display: flex;
		padding: 24px 16px;
		background: #ffffff;
		box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
	}

	&__column {
		display: flex;
		&:first-child {
			flex: 0 1 75%;
		}
		flex: 0 1 12.5%;
	}

	&__img {
		margin-right: 26px;

		img {
			width: 85px;
			height: 85px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		@include adaptive-font(20, 16);
		line-height: 25px;
		letter-spacing: -0.625px;
		margin-bottom: 8px;
		a {
			color: #3a4562;
		}
	}

	&__department {
		font-style: italic;
		font-weight: 400;
		@include adaptive-font(16, 14);
		line-height: 25px;
		letter-spacing: 0.23619px;
		color: #878d9d;
		margin-bottom: 8px;
	}

	&__location {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__spot {
		font-style: italic;
		font-weight: 400;
		@include adaptive-font(16, 14);
		line-height: 25px;
		letter-spacing: 0.23619px;
		color: #878d9d;
	}

	&__rating {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			cursor: pointer;
		}
	}

	&__post-info {
		display: flex;
		flex-direction: column;
	}

	&__bookmark {
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
		svg {
			&:hover {
				path {
					fill: #38415d;
				}
			}

			cursor: pointer;
		}
	}

	&__post {
		font-style: italic;
		font-weight: 400;
		@include adaptive-font(16, 14);
		line-height: 25px;
		display: flex;
		align-items: flex-end;
		text-align: right;
		letter-spacing: 0.23619px;
		color: #878d9d;
	}
}

// Adaptive design

@media (max-width: 769px) {
	.job {
		&__row {
			background: #eff0f5;
			flex-direction: column-reverse;
			position: relative;
		}

		&__column {
			&:first-child {
				margin-top: 14px;
			}
			&:last-child {
				align-items: center;
				justify-content: flex-end;
			}
		}

		&__title {
			font-style: italic;
			font-weight: 400;
		}

		&__rating {
			position: absolute;
			top: 28.5px;
			left: 125px;
			svg {
				path {
					fill: #767f95;
				}
				width: 58px;
				height: 18px;
			}
		}

		&__bookmark {
			display: none;
		}
	}
}

@media (max-width: 468px) {
	.job {
		img {
			width: 66px;
			height: 66px;
		}

		&__rating {
			left: 108px;
		}
	}
}

@media (max-width: 425px) {
	.job {
		&__img {
			margin: 0;
			margin-bottom: 10px;
			img {
				width: 80px;
				height: 80px;
			}
		}

		&__info {
			width: 100%;
		}

		&__column {
			justify-content: center;
			flex-wrap: wrap;
		}
		&__rating {
			left: 18px;
		}
	}
}
