@import "./libs/allLibs";
@import "./components/all";
@import "./fonts/fonts";

body {
	font-family: "Proxima Nova";
	background-color: #f5f5f5;
}

.wrapper {
	background-color: #fff;
	min-height: 100vh;
	overflow: hidden;
}
