@font-face {
	font-family: "Proxima Nova";
	src: url("../../fonts/proximanova_light.otf");

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../../fonts/proximanova_regular.ttf");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../../fonts/proximanova_boldit.otf");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../../fonts/proximanova_bold.otf");

	font-weight: bold;
	font-style: normal;
}
